<!DOCTYPE html>
<html lang="en">
<head>
  <title>urls_index</title>

</head>
<body>
  <ul>
    <% include partials/_header %>

    <% for (each in urls) { %>
      <% if (urls[each].userInDB === user_id["id"]) { %>
          <li><form action="/urls/<%= each %>/delete" method='post'>
           <a href=" /u/<%= each %>"><%= each%></a> --->  <a href=" <%= urls[each].longUrls%>"><%= urls[each].longUrls%></a>

            <a style="margin:0 0 0 150px;" href=/urls/<%= each %> ">Edit</a>
            <button style="margin:0 0 0 150px;">delete</button>
            </form>
            </li><br/>
    <% } %>

<% } %>
</ul>
    <br/>

    <form method="GET" action="/urls/new">
      <button style="margin:0 0 0 150px" >Add new link</button>
    </form>
</body>
</html>