<!DOCTYPE html>
<html lang="en">
<head>
  <title>urls_index</title>

</head>
<body>
  <ul>
    <% include partials/_header %>

    <% for (each in urls) { %>
    <% if (urls[each].userInDB === user_id["id"]) { %>
      <li><form action="/urls/<%= each %>/delete" method='post'>
       <a href=" /u/<%= each %>"><%= each%></a> --->  <a href=" <%= urls[each].longUrls%>"><%= urls[each].longUrls%></a>

        <a href="/urls/<%= each %>">Edit</a>
        <button>delete</button>
      </form>

      </li><br/>
    <% } %>
<% } %>
</ul>
    <br/>


    <a href="/urls/new">Add a new link here!</a>
</body>
</html>