<!DOCTYPE html>
<html lang="en">
<head>
  <title>urls_index</title>

</head>
<body>
  <table>
    <% include partials/_header %>

    <% for (each in urls) { %>
      <% if (urls[each].userInDB === user_id["id"]) { %>
          <tr><form action="/urls/<%= each %>/delete" method='post'><td>
           <a href=" /u/<%= each %>"><%= each%></a></td><td> ---> </td> <td><a href=" <%= urls[each].longUrls%>"><%= urls[each].longUrls%></a> </td> <td><span style="font-size:30%;"">  created:<%= urls[each].Datecreated%></span></td>

            <td><a style="margin:0 0 0 150px;" href=/urls/<%= each %> ">Edit</a></td>
            <td><button style="margin:0 0 0 150px;">delete</button></td>
            </form>
            </tr><br/>
    <% } %>

<% } %>
</table>
    <br/>

    <form method="GET" action="/urls/new">
      <button style="margin:0 0 0 150px" >Add new link</button>
    </form>
</body>
</html>